# Ignorar a pasta de compilação do Java
out/

# Ignorar a pasta de cópia
src (cópia)/

# Ignorar arquivos de configuração do VS Code (opcional, mas recomendado)
.vscode/
.settings/
.classpath
.project